parameters:
	ga: false # true/false - vypsat do kodu google analytics

services:
	docsStorage: DocsStorage(%wwwDir%/../data)


database:
	dsn: 'mysql:host=db;dbname=web'
	user: root
	password: root
	options:
		lazy: yes
