<div class="form-group">
	{*<label class="col-md-3 control-label" for="back"></label>*}
	<div class="col-sm-6">
		<button id="back" n:name="cancel" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Předchozí krok</button>
	</div>
	{*<label class="col-md-3 control-label" for="singlebutton"></label>*}
	<div class="col-sm-6 text-right">
		<button id="singlebutton" n:name="next" class="btn btn-warning btn-lg">Další krok <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
	</div>
</div>