<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title></title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 120%; text-align: left; orphans: 2; widows: 2 }
                ol{
                    list-style-type: none;
                }
              
	</style>
</head>
<body lang="cs-CZ" dir="ltr">
<p align="center" style="margin-bottom: 0cm; line-height: 108%"><span><font face="Times New Roman, serif"><b>ČESTNÉ
PROHLÁŠENÍ JEDNATELE</b></font></span></p>
<p align="center" style="margin-bottom: 0cm; line-height: 108%"><br/>

</p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">{$jednatel->getFullName()}{if !$isForeign},{/if} {$jednatel->getSeat()->getFullAddress()} {if $jednatel->getDate()}, RČ {$jednatel->getPersonId()}{/if}</font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">jako
jednatel společnosti</font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">{$company->getName()}</font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">tímto
prohlašuji, že:</font></p>
<ol>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">1)
jsem plně svéprávný</font><font face="Times New Roman, serif">,</font><br>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">2)
jsem bezúhonný</font><font face="Times New Roman, serif">,
tedy nebyl</font><font face="Times New Roman, serif">
jsem pravomocně odsouzen</font><font face="Times New Roman, serif">
pro trestný čin spáchaný</font></p>
</li>
<ol>
<li>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">a)
úmyslně k&nbsp;nepodmíněnému trestu odnětí svobody v&nbsp;trvání
alespoň jednoho roku,</font></p>
</li>
<li>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif">b) úmyslně, jehož skutková
podstata souvisí s&nbsp;podnikáním a na který se nevztahuje
písm.&nbsp;a),</font></p>
</li>
<li>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif">c) z nedbalosti, jehož skutková
podstata souvisí s&nbsp;předmětem podnikání,</font></p>
</li>
</ol>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">3)
v&nbsp;posledních třech letech nebyl na můj majetek prohlášen
nebo ukončen konkurz, ani opětovně potvrzeno nucené vyrovnání,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">4)
v&nbsp;posledních třech letech nebylo na můj majetek navrženo
prohlášení konkurzu ani nedošlo k&nbsp;jeho zamítnutí pro
nedostatek majetku dostačující alespoň k&nbsp;úhradě nákladů
řízení,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">5)
soudem nebo správním orgánem mi nebyl uložen zákaz činnosti
týkající se provozování živnosti v&nbsp;oboru předmětu
podnikání společnosti nebo v&nbsp;příbuzném oboru, který by
doposud trval,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">6)
neporušuji zákaz konkurence,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">7)
jako fyzická osoba nemám vůči územním finančním orgánům
státu daňové nedoplatky,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><a name="_GoBack"></a>
<font face="Times New Roman, serif">8) nebylo zahájeno řízení o
vyloučení z&nbsp;výkonu funkce člena statutárního orgánu podle
§63,64,65 zákona č.&nbsp;90&#47;2012 Sb., zákon o obchodních
korporacích a družstvech (ZOK), a že v&nbsp;posledních třech
letech nebylo vydáno pravomocné rozhodnutí o zákazu výkonu
funkce člena statutárního orgánu,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">9)
jsou splněny podmínky dle § 152 a § 153 zákona č. 89&#47;2012 Sb.,
občanský zákoník (NOZ),</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">10)
v&nbsp;posledních třech letech nebylo vydáno pravomocné
rozhodnutí o zákazu výkonu funkce člena statutárního orgánu,</font></p>
</li>
<li>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif">11)
není dána překážka výkonu funkce v&nbsp;souladu s § 779 odst.
3 ZOK.</font></p>
</li>
</ol>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><br/>

</p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">Prohlašuji,
že výše uvedené údaje jsou pravdivé a úplné.</font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">Prohlašuji,
že souhlasím se zápisem do obchodního rejstříku jako jednatel
společnosti.</font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><table dir="ltr" align="left" width="290" cellpadding="7" cellspacing="3">
	<col width="264">
	<tr>
		<td width="264" height="98" valign="top" bgcolor="#ffffff" style="border: 6.75pt double #00000a; padding: 0cm 0.19cm">
			<p><br/>

			
		</td>
	</tr>
</p>	
</table>
<p style="text-indent: 1.25cm; margin-bottom: 0.35cm; line-height: 115%">
<span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Úředně ověřený podpis:
</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$jednatel->getFullName()}</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">	</font></font></span></p>

</body>
</html>