<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 120%; text-align: left; orphans: 2; widows: 2 }
	</style>
</head>
<body lang="cs-CZ" dir="ltr">
<p align="center" style="margin-bottom: 0.35cm; line-height: 108%"><span><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>PLNÁ
MOC JEDNATELE</b></font></font></span></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 108%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$jednatel->getFullName()}{if $jednatel->getSeat()->getFullAddress()}, {$jednatel->getSeat()->getFullAddress()}{/if}{if $jednatel->getDate()}, RČ {$jednatel->getPersonId()}{/if}</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">jakožto
jednatel společnosti</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$company->getName()}</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><br/>

</p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">tímto
zmocňuji Zakladači s.r.o.</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">IČ:
05622701</font></font></p>
<font face="Times New Roman, serif">k&nbsp;zastupování před místně
příslušným rejstříkovým soudem ve všech&nbsp;právních
jednáních, ke kterým dochází při zápisu společnosti do
obchodního rejstříku, k&nbsp;zastupování před místně
příslušným rejstříkovým soudem při změnách zápisu, pokud
dojde ke změně skutečností uveřejňovaných v&nbsp;obchodním
rejstříku,</font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">tedy
zejména,</font></p>
<p align="justify" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">aby
podal návrh na zápis společnosti, podával návrhy na změnu
zápisu, přijímal veškerou korespondenci, která se zápisu či
jeho změn týká a odvolával se proti rozhodnutím či se práva
odvolat vzdal v&nbsp;případech, kdy podal návrh.</font></p>
<p align="justify" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">Dále
zmocňuji Zakladači s.r.o., aby zastupoval společnost v řízeních před
příslušným živnostenským nebo jiným úřadem ohledně
vystavení nebo zrušení živnostenských nebo jiných
podnikatelských oprávnění včetně převzetí rozhodnutí.</font></p>
<p align="justify" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">Dále
uděluji Zakladači s.r.o. generální plnou moc k&nbsp;zastupování pro
všechna právní jednání, ke kterým dochází při jednání se
subjekty veřejné správy, a to zejména, nikoli však pouze,
k&nbsp;zastupování před finančním úřadem, celní správou a
dalšími subjekty, s&nbsp;nimiž společnost při své činnosti
může přijít do styku, a to včetně přebírání a vyřizování
korespondence.</font></p>
<p align="justify" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif">Tato
plná moc je udělena na dobu neurčitou, a proto dle zákona platí
stejnou měrou i po změně jednatele nebo názvu společnosti. Tímto
je zajištěn plynulý chod společnosti a kontinuální komunikace
se subjekty veřejné správy i po změně údajů ovlivňujících
identifikaci společnosti a jednání za společnost. Má-li
zmocnitel zvláště závažný důvod, je oprávněn v&nbsp;souladu
se zákonem tuto plnou moc odvolat. Dojde-li k&nbsp;přerušení
spolupráce mezi zmocnitelem a zmocněncem, Zakladači s.r.o. o tomto
vyrozumí příslušné orgány veřejné správy i zmocnitele.</font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><table dir="ltr" align="left" width="290" hspace="9" cellpadding="7" cellspacing="3">
	<col width="264">
	<tr>
		<td width="264" height="98" valign="top" style="border: 6.75pt double #00000a; padding: 0cm 0.19cm">
			<p><br/>

			</p>
		</td>
	</tr>
</table><br/>
<br/>

</p>
<p style="text-indent: 1.25cm; margin-bottom: 0.35cm; line-height: 115%">
<span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Úředně ověřený podpis:
</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$jednatel->getFullName()}</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">	</font></font></span></p>
</body>
</html>