<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 120%; text-align: left; orphans: 2; widows: 2 }
	</style>
</head>
<body lang="cs-CZ" dir="ltr">
<p align="center" style="margin-bottom: 0.35cm; line-height: 108%"><span><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>SOUHLAS
S&nbsp;UMÍSTĚNÍM SÍDLA</b></font></font></span></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$company->getSeat()->getOwnerName()}</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Tímto
prohlašuji, že souhlasím s&nbsp;umístěním sídla společnosti</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$company->getName()}</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">v&nbsp;prostorách
na adrese:</font></font></p>
<p align="center" style="margin-bottom: 0.35cm; line-height: 115%"><a name="_GoBack"></a>
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$company->getSeat()->getFullAddress()}</font></font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><table dir="ltr" align="left" width="290" hspace="9" cellpadding="7" cellspacing="3">
	<col width="500">
	<tr>
		<td width="500" height="98" valign="top" style="border: 6.75pt double #00000a; padding: 0cm 0.19cm">
			<p><br/>

			</p>
		</td>
	</tr>
</table><br/>
<br/>

</p>
<p style="text-indent: 1.25cm; margin-bottom: 0.35cm; line-height: 115%">
<span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Úředně ověřený podpis:
</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{$company->getSeat()->getOwnerName()}</font></font></span><span style="text-transform: uppercase"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">	</font></font></span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
</body>
</html>