{var $robots = noindex}
{*block title}
<h2>Vyberte si místo dovolené. <span>Přesně podle VÁS.</span></h2>
{/block}
{block slide}
{/block*}
{block content}
<h1 n:block=title>Dokončení...</h1>
{ifset $reset}
{control changePassWord}
{/ifset}
{/block}

{block head}
{/block}

{block forms}
{/block}