
{block content}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{*<a href="{plink Homepage:}">Návrat na úvodní stránku</a>*}
			<h3>Příště už založíte firmu za den online!</h3>
			<p>Bylo to jednoduché? Nyní za Vás ještě úřady oběhne náš partner. Ale <b>obíhat úřady mají data, ne lidé.</b></p>
			<p>Slíbili jsme vám, že když nás na ně pustíte, tak založíte firmu za den po internetu do 500 korun a do 24 hodin. A teď to plníme. Navrhli jsme příslušnou novelu. Ale než zákon schválí Sněmovna a Senát a podepíše Prezident, bude to ještě nějakou dobu trvat. Tak do té doby, než stát bude mít svou aplikaci, poběží tahle. Držíme kurz!</p>
		</div>
	</div>
</div>